<!doctype html>
<html>

<head>
  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ page_description | escape }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

  {{ content_for_header }}

  <link
    href="//fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
    rel="stylesheet">

  {{ 'bootstrap.css' | asset_url | stylesheet_tag }}
  {{ 'magnific-popup.min.css' | asset_url | stylesheet_tag }}
  {{ 'font-awesome.css' | asset_url | stylesheet_tag }}
  {{ 'jquery.fancybox.min.css' | asset_url | stylesheet_tag }}
  {{ 'themify-icons.css' | asset_url | stylesheet_tag }}
  {{ 'niceselect.css' | asset_url | stylesheet_tag }}
  {{ 'animate.css' | asset_url | stylesheet_tag }}
  {{ 'flex-slider.min.css' | asset_url | stylesheet_tag }}
  {{ 'owl-carousel.css' | asset_url | stylesheet_tag }}
  {{ 'slicknav.min.css' | asset_url | stylesheet_tag }}
  {{ 'reset.css' | asset_url | stylesheet_tag }}
  {{ 'style.css' | asset_url | stylesheet_tag }}
  {{ 'responsive.css' | asset_url | stylesheet_tag }}
</head>

<body>

  {% section 'navbar' %}

  <main role="main">
    {{ content_for_layout }}
  </main>

  {{ 'jquery.min.js' | asset_url | script_tag }}
  {{ 'jquery-migrate-3.0.0.js' | asset_url | script_tag }}
  {{ 'jquery-ui.min.js' | asset_url | script_tag }}
  {{ 'popper.min.js' | asset_url | script_tag }}
  {{ 'bootstrap.min.js' | asset_url | script_tag }}
  {{ 'slicknav.min.js' | asset_url | script_tag }}
  {{ 'owl-carousel.js' | asset_url | script_tag }}
  {{ 'magnific-popup.js' | asset_url | script_tag }}
  {{ 'waypoints.min.js' | asset_url | script_tag }}
  {{ 'finalcountdown.min.js' | asset_url | script_tag }}
  {{ 'nicesellect.js' | asset_url | script_tag }}
  {{ 'flex-slider.js' | asset_url | script_tag }}
  {{ 'scrollup.js' | asset_url | script_tag }}
  {{ 'onepage-nav.min.js' | asset_url | script_tag }}
  {{ 'easing.js' | asset_url | script_tag }}
  {{ 'active.js' | asset_url | script_tag }}
</body>

</html>