<style>
    #hero-{{ section.id }} .single-slider {
        background-image: url({{ section.settings.bg-image | img_url: 'master' }});
    }
</style>

<section class="hero-slider" id="hero-{{ section.id }}">
    <div class="single-slider">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-9 offset-lg-3 col-12">
                    <div class="text-inner">
                        <div class="row">
                            <div class="col-lg-7 col-12">
                                <div class="hero-text">
                                    <h1>
                                        {% if section.settings.sub-title != blank %}
                                        <span>{{ section.settings.sub-title }}</span>
                                        {% endif %}
                                        
                                        {% if section.settings.title != blank %}
                                        {{ section.settings.title }}
                                        {% endif %}
                                    </h1>
                                    
                                    
                                    {% if section.settings.description != blank %}
                                        <p>{{section.settings.description}}</p>
                                    {% endif %}
                                    
                                    {% if section.settings.show-button != blank %}
                                        <div class="button">
                                            <a href="{{ section.settings.button-url }}" class="btn">
                                                {{ section.settings.button-text }}
                                            </a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Hero Area",
    "settings": [
        {
            "type": "header",
            "content": "Contents"
        },
        {
            "type": "text",
            "label": "Sub title",
            "id": "sub-title",
            "default": "UP TO 50% OFF"
        },
        {
            "type": "text",
            "label": "Title",
            "id": "title",
            "default": "Shirt For Man"
        },
        {
            "type": "textarea",
            "label": "description",
            "id": "description",
            "default": "Maboriosam in a nesciung eget magnae <br> dapibus disting tloctio in the find it pereri <br> odiy maboriosm."
        },
        {
            "type": "image_picker",
            "label": "Background Image",
            "id": "bg-image"
        },
        {
            "type": "header",
            "content": "Promo Button"
        },
        {
            "type": "checkbox",
            "label": "Show button",
            "id": "show-button"
        },
        {
            "type": "text",
            "label": "Button text",
            "id": "button-text",
            "default": "Buy Now"
        },
        {
            "type": "url",
            "label": "Button Url",
            "id": "button-url"
        }
    ],
    "presets": [
        {
            "category": "Home",
            "name":"Hero Area"
        }
    ]
}
{% endschema %}